.Profile {
    height: 100%;
}

.Profile-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Profile-content-2 {
    display: flow-root;
    padding-left: 10px;
    padding-right: 10px;
}