.TopArtists::-webkit-scrollbar {
    width: 16px;
}

                    
.TopArtists::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 7px;
}

.TopArtists::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 7px;
    border: 1px solid #404040;
}