.navbar-left {
    display:flex;
    flex-direction:row;
    margin-left: 20px;
}

.navbar-right {
    display:flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}

.navbar-logout {
    display:flex;
    flex-direction: row;
}
