.Login {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.Login-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}